<h1 class="animated fadeIn fast">Heores <small>Marvel y Dc</small></h1>
<div class="card-columns animated fadeIn">
  <div class="card">
    <img class="card-img-top" src="assets/img/batman.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      <button class="btn btn-outline-primary btn-block">Ver más</button>
    </div>
  </div>
</div>